<h1>Pages#answer</h1>
<p>Find me in app/views/pages/answer.html.erb</p>

<p><em>Question : <%= params[:question] %></em></p>
<p>Answer : <%= @answer %></p>
<%= link_to "Ask a new question", ask_path %>
